@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Natech.Models.SellerView

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">SurName</th>
            <th scope="col"><button type="button" id="openSellerModal" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSellerModal">Add</button></th>
        </tr>
    </thead>
    <tbody id="table_body">
        
    </tbody>
</table>

<partial name="_AddSellerModal"/>
<partial name="_EditSellerModal"/>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var model = @Html.Raw(Json.Serialize(Model.sellers));
            $.each(model, function (index, value) {
                console.log(value);
                var tBody = '<tr id="' + value.sellerId + '"><th scope="row">' + index + '</th><td>' + value.firstName + '</td><td>'
                    + value.surName + '</td><td><button type="button" class="btn btn-warning editSeller">Edit</button><button type="button" class="btn btn-danger deleteSeller">Delete</button></td></tr>';
                $('#table_body').append(tBody);
            });

            $("#openSellerModal").click(function (evt) {
                evt.preventDefault();
                $("#FirstNameAdd").val('');
                $("#SurNameAdd").val('');
                $('#addSellerModal').modal('toggle');
            });

            $("#closeSellerModal").click(function (evt) {
                evt.preventDefault();
                $('#addSellerModal').modal('toggle');
                $("#FirstNameAdd").val('');
                $("#SurNameAdd").val('');
            });


            $(".editSeller").click(function (evt) {
                evt.preventDefault();
                var id=$(this).parent().parent().attr('id');
                $.ajax({
                    type: "GET",
                    url:"/Seller/GetSeller",
                    contentType: "application/json",
                    data: {SellerId: id},
                    dataType: "json",
                    success: function (msg) {
                        console.log(msg);
                        $('#editSellerModal').modal('toggle');
                        $("#FirstNameEdit").val(msg.firstName);
                        $("#SurNameEdit").val(msg.surName);
                        $("#SellerIdEdit").val(msg.sellerId);
                    },
                    error: function (req, status, error) {
                        console.log("Failure");
                    }
                });
            });

            //$("#submitEditSeller").click(function (evt) {
            //    evt.preventDefault();
            //    $("#SellerIdEdit").val('');
            //    $("#FirstNameEdit").val('');
            //    $("#SurNameEdit").val('');
            //});

            $("#closeEditSellerModal").click(function (evt) {
                evt.preventDefault();
                $('#editSellerModal').modal('toggle');
                $("#FirstNameEdit").val('');
                $("#SurNameEdit").val('');
            });

           

            $(document).on("click", ".deleteSeller",function() {
                var seller = {
                    SellerId: $(this).parent().parent().attr('id')
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Seller")',
                    contentType: "application/json",
                    data: JSON.stringify(seller),
                    success: function (msg) {
                        console.log("Success");
                        $('#table_body').empty();
                        $.each(msg.sellers, function (index, value) {
                            var tBody = '<tr id="' + value.sellerId + '"><th scope="row">' + index + '</th><td>' + value.firstName + '</td><td>'
                                + value.surName + '</td><td><button type="button" class="btn btn-warning editSeller">Edit</button><button type="button" class="btn btn-danger deleteSeller">Delete</button></td></tr>';
                            $('#table_body').append(tBody);
                        });
                    },
                    error: function (req, status, error) {
                        console.log("FaiUrlure");

                    }
                });
            });


        });
    </script>
}